ul {
	list-style-type: none;
	padding: 0;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

input {
	text-align: center;
	padding: 2px 30px;
	border-radius: 3px;
	border: solid 1px grey;
	font-size: 13px;
}

.deleteBtn {
	margin: 5px 10px 0 0;
	border-radius: 3px;
	background-color:#e4685d;
	border:1px solid #e4685d;
	color: white;
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size:12px;
	padding:2px 4px;
}

.deleteBtn:hover {
	background-color:#d02222;
	border:1px solid #d02222;
}

.deleteBtn:active {
	position:relative;
	top:1px;
}

@-moz-document url-prefix() {
	#add-btn {
		font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
		font-size: 23px;
		border-radius: 3px;
		border: solid 1px #404040;
		padding: 2px 6px;
		background-color: #66FF99;
	}
}

#add-btn {
	font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 13px;
	border-radius: 3px;
	border: solid 1px #404040;
	padding: 2px 6px;
	background-color: #66FF99;
}

#add-btn:hover {
	background-color: #33CC00;
}

.btn-container {
	text-align: center;
}

.nav-btn {
	color: #404040;
	display: inline-block;
	margin: 10px;
	padding: 6px 24px;
	width: 150px;
	background-color: lightgrey;
	border: 1px solid #404040;
	border-radius: 6px;
	text-align: center;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
}

.nav-btn:hover {
	background-color: lightyellow;
}

.nav-btn:active {
	position:relative;
	top:1px;
}

.go-to-prompt-btn {
	color: #404040;
	display: inline-block;
	margin: 10px 0px;
	padding: 6px 24px;
	width: 150px;
	background-color: lightgrey;
	border: 1px solid #404040;
	border-radius: 6px;
	text-align: center;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
}

.go-to-prompt-btn:hover {
	background-color: lightyellow;
}

.go-to-prompt-btn:active {
	position:relative;
	top:1px;
}

.edit-header {
	height: 65px;
	top: 0;
	width: 90%;
	margin: 0 auto;
}

.link-container {
	height: 30px;
	width: 25%;
	top: 0;
	left: 0;
}

#edit-link {
	position: absolute;
	font-family: Verdana, Geneva, sans-serif;
	color: darkgrey;
	text-decoration: none;
	font-size: 1.1em;
	margin-left: 12px;
	margin-top: 7px;
	float: left;
}

#slideshow-link {
	color: black;
	text-decoration: none;
	font-size: 1.5em;
}

#prompt-target {
	position: relative;
	width: 85%;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	top: -45px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 5.5vw;
	color: #404040;
	max-width: 900px;
}

body {
	margin: 0;
}

.edit-modal {
	width: 90%;
	margin: 0 auto;
	font-family: Verdana, Geneva, sans-serif;
	color: #404040;
}

.view-window { 
	background-color: lightgrey;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow-x: auto;
	overflow-y: auto;
}

span { 
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	text-align: center;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.animate.ng-enter,
.animate.ng-leave {
	-webkit-transition: 1.5s ease-in all;
	transition: 1.5s ease-in all;
	opacity: 0;
}

.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter.ng-enter-active {
	-webkit-transition: 1.5s ease-in all;
	transition: 1.5s ease-in all;
	opacity: 1;
}

.animate.ng-enter.ng-enter-active,
.animate.ng-leave {
	color: #404040;
	font: 100px;
}

