<ul>
	<li ng-repeat="slide in slides">
		{{slide.prompt}}
</ul>
<div id="prompt-area"></div>

<!-- <div>
<form name="myform" id="eform" onsubmit = "return tagSubmit()">
	Hashtag:<input type="text" id="inputBox" name="hashtag">
	<input type="submit" value="Search">
	<button onclick="toggleFullScreen()">Fullscreen</button>
</form>
</div>
<div class="cycle-slideshow" id="slides"
	data-cycle-fx="scrollHorz"
	data-cycle-speed="200"
	data-cycle-caption="#adv-custom-caption"
   data-cycle-caption-template="Slide {{slideNum}}: {{cycleTitle}}">
</div> -->
